.spacerTop {
    margin-top: 2rem;
}

/* Force top blue line to not be show  */
.sapMPageHeader::before {
    border-top: 0.0rem !important;
}

.headerBusyIndicatorTopMargin {
    margin-top: 1.5rem !important;
}

.syncStatusTextBig {
    margin-top: 10px;
    font-size: 30px;
    font-weight: bold;
}

.syncStatusText {
    margin-top: 10px;
    font-size: 12px;
}

.syncStatusTextBold {
    margin-top: 10px;
    font-size: 12px;
    font-weight: bold;
}

.circular {
	width: 300px;
	height: 300px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
}